{% extends "base.html.twig" %}      
{% block title %}Page de Connexion {% endblock %}
{% block body %}
    
    <div class="container">  
        <div class="row justify-content-md-center">
            <img src="/image/sigleSteg.png">
        </div>
        <div class="row justify-content-md-center">
            {{ form_start(connexion) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(connexion.email, {'label': 'Email :','attr':{'placeholder':'walidnagga@gmail.com...'}}) }}
                        {{ form_row(connexion.password,{'label':'Mot de passe :','attr':{'placeholder':'Mot de passe...'}}) }}
                        <br>                     
                    </div>
                   
                </div>
            {{ form_end(connexion) }}
            
        </div>  
        <div class="row justify-content-center"> 
            <div class="col-12 col-md-4">   
                <button type="submit" class="btn btn-primary">Se connecter</button>
                
                <a role="button" href="{{path('security_registration')}}" class="link">s'inscrire</a>
            </div>
        </div>                   
          
    </div>
{% endblock %}


