{% extends 'base.html.twig' %}

{% block title %}page d'enregistrement{% endblock %}

{% block body %}
    <form method="post">
        

        <div class="row justify-content-md-center">
            <img src="/image/sigleSteg.png">
        </div>
        <div class="row justify-content-md-center">
            <div class="row">
                <div class="col-sm-8">
            
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'label':'Utilisateur :', 'attr': {'placeholder':'utilisateur'}}) }}
                    {{ form_row(form.email, {'label':'Email :', 'attr': {'placeholder':'adresse email'}}) }}
                    {{ form_row(form.password, {'label':'Mot de passe :', 'attr': {'placeholder':'mot de passe'}}) }}
                    {{ form_row(form.confirm_password, {'label':'Confirmer :', 'attr': {'placeholder':'retaper le mot de passe'}}) }}
                    <button type="submit" class="btn btn-primary">inscription</button>
                    {{ form_end(form) }}
                     
                </div>
            </div>
        </div>
    </form>
{% endblock %}